<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
        * {
            box-sizing: border-box;
        }

        html, body {
            padding: 0;
            margin: 0;
        }

        table {
            width: 100%;
            border-collapse: collapse;
        }

        th, td {
            text-align: left;
            padding: 5px 10px;
        }

        th:first-child, td:first-child {
            padding-left: 0;
        }

        th:last-child, td:last-child {
            padding-right: 0;
        }

        th {
            border-bottom: 2px solid black;
        }

        h1, p {
            margin: 0;
        }

        .page {
            position: relative;
            display: flex;
            flex-flow: column nowrap;
            width: 210mm;
            height: 297mm;
            padding: 20mm;
        }

        .header {

        }

        .row {
            display: flex;
            margin-bottom: 20px;
        }

        .col {
            display: flex;
            flex-direction: column;
        }

        .justify-end {
            justify-content: flex-end;
        }

        .justify-between {
            justify-content: space-between;
        }

        .align-end {
            align-items: flex-end;
        }

        .align-stretch {
            align-items: stretch;
        }

        .footer {
            margin-top: auto;
        }

        .total-price {
            display: inline-block;
            width: 120px;
            border-top: 2px solid black;
            border-bottom: 5px double black;
            text-align: right;
            padding: 0 10px;
            padding-top: 20px;
        }

        .text-center {
            text-align: center;
        }

        .text-left {
            text-align: left;
        }

        .text-right {
            text-align: right;
        }

    </style>
</head>
<body>
    <div class="page">
        <div class="row justify-between align-stretch">
            {# fill from db later #}
            <div>
                <h1>Veehandel J. de Haas</h1>
                <strong>Overleek 1C</strong><br>
                <strong>1141 PD MONNICKENDAM</strong><br>
                <br>
                <strong>Telefoon: 06-26394315</strong><br>
                <br>
                <strong>IBAN NL19 RABO 0342829432</strong><br>
                <strong>BIC RABONL2U</strong><br>
                <strong>K.v.k. 36035329</strong><br>
                <strong>Email: jaapdehaasveehandel@gmail.com</strong><br>
                <strong>BTW nr: 1918.10.083.B.01</strong><br>
            </div>
            <div class="col justify-between">
                <p>
                    {% if (invoice.getInvoiceType() == 0) %}
                        <strong>INKOOPNOTA VEE</strong><br>
                        Uigereikt door afnemer.
                    {% else %}
                        <strong>VERKOOPNOTA</strong><br>
                    {% endif %}
                </p>
                <p>
                    {{ invoice.getCustomer.getCompanyName() }}<br>
                    {{ invoice.getCustomer.getStreet() }} {{ invoice.getCustomer.getHouseNumber() }}<br>
                    {{ invoice.getCustomer.getPostalCode() }}<br>
                    {% if (invoice.getCustomer.getEmail() is not empty) %} {{ invoice.getCustomer.getEmail() }}<br> {% endif %}
                </p>
            </div>
        </div>
            <div class="row">
                <p style="width: 250px;">
                    Nota: <br>
                    Nota datum: <br>
                    {% if (invoice.getInvoiceType() == 0) %}BTW-nummer leverancier: {% endif %} <br>
                    {% if (invoice.getInvoiceType() == 1) %} Betreft: {{ invoice.getRegarding() }} {% endif %} <br>
                </p>
                <p>
                    {{ invoice.getInvoiceNumber() }}<br>
                    {{ invoice.getCreatedAt().format("d-m-Y") }}<br>
                    {% if (invoice.getInvoiceType() == 0) %} {{ invoice.GetCustomer().getBtwNumber() }} {% endif %} <br>
                </p>
            </div>
            {% if (invoice.getInvoiceType() == 0) %}
                <div class="row align-end">
                    <p style="width: 250px;">Leverdatum:</p>
                    <p style="margin-right: 100px;">{{ invoice.getDeliveryDate().format("d-m-Y") }}</p>
                </div>
            {% endif %}
        <div class="invoice-rows">
            <table className="invoice-rows-builder__table">
                <thead>
                    <tr>
                        {% if (invoice.getInvoiceType()) == 0 %}
                            {% if (invoice.getFlavour() != 1) %}
                            <th>
                                Omschrijving
                            </th>
                            {% endif %}
                            {% if (invoice.getFlavour() == 1) %}
                                <th>
                                    I &and; R Oormerk
                                </th>
                                <th class="text-center">
                                    Gewicht in kg 
                                </th>
                                <th class="text-right">
                                    Prijs per kg.
                                </th>
                                <th class="text-right">
                                    Kosten
                                </th>
                            {% endif %}
                            {% if (invoice.getFlavour() == 0 or invoice.getFlavour() == 2) %}
                            <th>
                                Aantal
                            </th>
                            {% endif %}
                        
                            {% if (invoice.getFlavour() == 0) %}
                            <th>
                                Werknummer
                            </th>
                            {% endif %}
                        {% else %}
                            <th>
                                Omschrijving
                            </th>
                            <th>
                                Aantal
                            </th>
                            <th>
                                Leverdatum
                            </th>
                        {% endif %}
                        
                        <th class="text-right">
                            Bedrag
                        </th>
                    </tr>
                </thead>
                <tbody>
                    {% for invoiceRow in invoice.getInvoiceRows() %}
                        <tr className="invoice-listitem--table-row" key={i}>
                            {% if (invoice.getInvoiceType()) == 0 %}
                                {% if (invoice.getFlavour() != 1) %}
                                    <td>
                                        {{ invoiceRow.getDescription() }}
                                    </td>
                                {% endif %}
                                {% if (invoice.getFlavour() == 1) %}
                                    <td>
                                        {{ invoiceRow.getEarbrand() }}
                                    </td>
                                    <td class="text-center">
                                        {{ invoiceRow.getWeightKg()|number_format(2, ",", ".") }}
                                    </td>
                                    <td class="text-right">
                                        &euro; {{ invoiceRow.getPriceKg()|number_format(2, ",", ".") }}
                                    </td>
                                    <td class="text-right">
                                        &euro; {{ invoiceRow.getCosts()|number_format(2, ",", ".") }}
                                    </td>
                                {% endif %}
                                {% if (invoice.getFlavour() == 0 or invoice.getFlavour() == 2) %}
                                    <td>
                                        {{ invoiceRow.getAmount() }}
                                    </td>
                                {% endif %}
                                {% if (invoice.getFlavour() == 0) %}
                                    <td>
                                        {{ invoiceRow.getWorkNumber() }}
                                    </td>
                                {% endif %}
                            {% else %}
    	                        <td>
                                    {{ invoiceRow.getDescription() }}
                                </td>
                                <td>
                                    {{ invoiceRow.getAmount() }}
                                </td>
                                <td>
                                    {{ invoiceRow.getDeliveryDate().format("d-m-Y") }}
                                </td>
                            {% endif %}
                            <td class="text-right">
                                &euro; {{ invoiceRow.getPrice()|number_format(2, ",", ".") }}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="footer">
            <div class="row">
                <p style="margin-right: 100px;">
                    Totaal excl.BTW<br>
                    BTW {{ invoice.getBtwPercentage() }}%<br>
                    <br>
                    {% if (invoice.getUbnNumber() is not null) %} Slachthuis UBN: {{ invoice.getUbnNumber() }} {% endif %}
                </p>
                <p class="text-right">
                    € {{ invoice.getTotalPriceExclBtw()|number_format(2, ",", ".") }}<br>
                    € {{ invoice.getBtwPrice()|number_format(2, ",", ".") }}<br>
                </p>
            </div>
            <div class="row justify-between align-end">
                <p>Per bank betaald</p>
                <p>
                    Totaal Incl.BTW
                    <span class="total-price">
                        &euro; {{ invoice.getTotalPrice()|number_format(2, ",", ".") }}
                    </span>
                </p>
            </div>
        </div>
    </div>
</body>
</html>